<div class="timeline">
    <div class="notifications">
        <a class="js-notification-entity" id="notification-entity-current"></a>
        <div id="js-notification-list">
            {{ notifications }}
        </div>
        <a class="js-notification-entity" id="notification-entity-start"></a>
    </div>
</div>