.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.center {
  text-align: center;
}

ol li,
ul li {
  padding-left: 0px;
  margin-left: 20px;
}

a {
  word-break: break-word;
}

table {
  margin: 20px 0;
  border-color: #ddd;
}

td, th {
  text-align: left;
  padding: 6px;
  border-color: #ddd;
}

h3 {
  color: #333;
}

h3, h4 {
  margin-bottom: 20px;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  table td {
  font-size: 12px;
  }
}
