.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.center {
  text-align: center;
}

ol li,
ul li {
  padding-left: 0px;
  margin-left: 20px;
}

table {
  margin: 20px 0;
  border-color: #ddd;
}

td, th {
  text-align: left;
  padding: 6px;
  border-color: #ddd;
}

h3 {
  color: #333;
}

h3, h4 {
  margin-bottom: 20px;
}
