.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.center {
  text-align: center;
}

ol li,
ul li {
  padding-left: 0px;
  margin-left: 20px;
}
