.notification-entity {
  margin: 0 0 2em;
  border-radius: .5em;
  background: #eee;
  padding: 1em 2em;
}

.notification-entity-form label {
  float: left;
  width: 180px;
}

.notification-entity-form .form-type-textarea label {
  float: none;
  width: auto;
}

.notification-entity-form .form-item {
  clear: left;
}

.notification-entity-form .filter-wrapper {
  display: none;
}