.notification-entity {
  margin: 0 0 2em;
  border-radius: .5em;
  background: #eee;
  padding: 1em 2em;
}

.notification-entity-form label,
.notification-entity-form h4.label {
  float: left;
  width: 180px;
}

.notification-entity-form .selectize-control,
.notification-entity-form select,
.notification-entity-form textarea,
.notification-entity-form input[type=text] {
  width: 300px;
  display: inline-block;
}

.notification-entity-form .form-item {
  clear: left;
}

.notification-entity-form .filter-wrapper {
  display: none;
}